h1 {
  font-size: 3.2rem;
}

.score {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  line-height: 2;
  
}
#score-left {
  float: left;
}
#score-right {
  float: right;
}
#score-left, #score-right {
  margin: 0 6vw;
  font-size: 2rem;
}

#score-container{
  margin-top: 40px;
  margin-bottom: 10px;
  overflow: auto;
}
#play {
  width: 7rem;
  height: 3rem;
  background-color: white;
  border: 1px solid black;
  font-size: 1.2rem;
  position: relative;
  left: 45%;
  top: 10vw;
  transition: all .5s;
}
#play:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(0,0,0,.1);
}
.hide {
  display: none;
}

h2, h1 {
  text-align: center;
}

#select-container{
  position: relative;
  height: 70vh;
  width: 70vw;
  margin: auto;
  text-align: center;
  background-image: url(images/rock.jpg);
  background-size: 100% 100%;
}
.grid{
  position: absolute;
  bottom: 0;
  display: grid;
  grid: 1fr 4fr / 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  margin-left: calc((100% - ((11.8vw * 3) + (3 * 2vw)))/2);
  
}
.thumbnail {
  width: 11.8vw;
  height: 11.8vw;
  border: 2px solid black;
}
.thumbnail:hover{
  cursor: pointer;
}
.thumb-above{
  display: inline-block;
  font-size: 1.6rem;
  background-color: rgba(0,0,0,.6);
  color: white;
  align-self: center;
  padding: 3px 0;
}


h2 {
  font-size: 2rem;
}